*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
header{
  height: 124px;

}
.header-left{
  height: 100%;
  width: 40%;
  float: left;
}
.header-right{
  height: 100%;
  width: 60%;
  float: left;
}
.header-left img{
  height: calc(100% - 40px);
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 124px;
  display: inline-block;
  float: left;
  margin-left: 20px;
}
.menu-left{
display:inline-block;
float: left;
margin-left: 30px;
text-transform: uppercase;
}
.menu-left a{
  line-height: 124px;
  text-decoration: none;
  padding-left: 30px;
  color: #394c5d;
}
.menu-left a:hover{
  color: black;
}
.menu-right{
display:inline-block;
float: left;
margin-left: 30px;
text-transform: uppercase;
}
.menu-right a{
  line-height: 124px;
  text-decoration: none;
  padding-left: 30px;
  color: #394c5d;
  font-size: 14px;
  padding-left: 50px;
}
.menu-right a:hover{
  color: black;
}
.menu-items{
  display: inline-block;
  position: relative;
}
.dropd-menu{
  display: none;
  position: absolute;
  width: 200px;
  background-color: #fafafa;
  text-align: left;
  border: 2px ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropdown-menu-item{
  display: block;

}
.dropdown-menu-item a{

}
i {
  padding-right: 20px;
}
/* .menu-items:hover .dropd-menu{
  display: block;
} */
